<header>
    <div class="header-logo">
        <%= link_to "MiniAlgo", "../" %>
    </div>
    <ul class="header-menus">
        <li><%= link_to "問題一覧", "/probrems" %></li>
        <li><%= link_to "新規登録", "/signup" %></li>
        <li><%= link_to "ランキング", "/ranking" %></li>
        <li><%= link_to "ログイン", "/login" %></li>
    </ul>
</header>