<!DOCTYPE html>
<html>
  <head>
    <title>MiniAlgo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "MiniAlgo", "../" %>
      </div>
      <ul class="header-menus">
        <li><%= link_to "問題一覧", "/probrems/index" %></li>
        <li><%= link_to "新規登録", "/signup" %></li>
        <li><%= link_to "ランキング", "/ranking" %></li>
        <li><%= link_to "ログイン", "/login" %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
